.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 20vh 10%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 13, 13, 0.3);
}