:root {
  --mainPaddingR: 20px;
  --mainPaddingL: 20px;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  font-size: 14px;
  line-height: 16px;
}

button {
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
