.itemBtn {
  margin: 2px 0px;
  padding: 8px 13px;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: start;
  font-size: 14px;
}

.btnContent {
  margin-left: 5px;
}

.divider {
  width: 70%;
  margin: 0 auto;
  border-top: 1px solid rgba(194, 194, 194, 0.7);
}
